.preloader {
  text-align: center;
}

.preloader-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .preloader-logo {
    animation: preloader-logo-spin infinite 20s linear;
  }
}

.preloader-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes preloader-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message {
  background-color: #a1aef5;
  width: 400px;
  border-radius: 3%;
  margin-top: 50px;
  margin-bottom: 10px;
}

.message-text {
  color: white;
}

.user-input {
  margin-left: 20px;
}

.message-list {
  margin-top: 100px;
  margin-left: 120px;
}

.own-message {
  background-color: #404b92;
  width: 400px;
  border-radius: 3%;
  margin-left: 560px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.message-liked {
  color:red;
}

.message-input-text {
  margin-left:10px;
  margin-right: 55px;
}

.message-input {
  margin-left: 40%;
  width: 315px;
}

.header-last-message-date {
  margin-left: 15px;
}

.header-users-count {
  margin-left: 15px;
}

.header-messages-count {
  margin-left: 40%;
}

.message-time {
  color:white;
}